@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;

   
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
    
  width: 100%;
  height: 50%;
display: flow-root;
  background-image: url("https://images.pexels.com/photos/2271106/pexels-photo-2271106.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  
  background-repeat: no-repeat;
  min-height: 100vh;
}

.titulo-enter{
  color: darkorange;
display: flex;
justify-content:center;
font-style:italic;
text-shadow: 2px 2px 4px #000000;
}

.subtitulo-enter{
  color: darkorange;
  display: flex;
justify-content:center;
text-shadow: 2px 2px 4px #000000;
}

/* 
.btnmesero {
  box-shadow: 0px 4px 4px 0px rgb(21, 24, 24);
  height: 8vh;
  width: 26vh;
  margin-left: 40%;
  margin-top: 6%;
  font-weight: 100;
  font-size: large;
} */
.btnmesero {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  height: 8vh;
  width: 26vh;
  margin-left: 40%;
  margin-top: 6%;
  font-size: large;
  background: #ff8C00;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}


.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #ff5500;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btnmesero:hover .transition {
  width: 14em;
  height: 14em;
}

.btnmesero:active {
  transform: scale(0.97);
}

.btncocina {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  height: 8vh;
  width: 26vh;
  margin-left: 40%;
  margin-top: 6%;
  font-size: large;
  padding: 1em 2.7em;
  font-weight: 100;
  background: #ff8C00;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #ff5500;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btncocina:hover .transition {
  width: 14em;
  height: 14em;
}

.btncocina:active {
  transform: scale(0.97);
}
.btnCocinar {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #ff8C00;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  margin-top: 80%;
}

.gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.labels {
  position: relative;
  top: -1px;
}

.transitions {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #ff5500;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btncocinar:hover .transitions {
  width: 14em;
  height: 14em;
}

.btncocinar.btnCocinar {
  transform: scale(0.97);
}

.div-btn {
  margin-right: 5%;
  margin-top: 6%;
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.image {
  display: flex;
  align-items: center;

  top: 2%;
  margin: 0 auto;
  height: 10vh;
  width: 10vh;

  border-radius: 50%;
}
.image-item{
   display: flex;
  align-items: center;



  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 16px;

}
.name-item {

  text-align: left;
  font-size: .875rem;
  line-height: normal;
  color: #333;
}
.price-item{
  text-align: right;
  font-size: 1rem;
  font-weight: 700;

 
}
.card-container{
  display:flex;
  flex-wrap:wrap;
  /*gap:20px;*/
  justify-content: space-evenly;
}

.card {
  position: static;
  box-sizing: border-box;
  display: flex;
  
    align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: stretch;
    height: 44vh;
    width: 38vh;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
 
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.99) rotateZ(0.0deg);
}

.texArea {
  display: block;
  align-items: center;
 
  height: 7vh;
  width: 25vh;

  resize: none;
  padding-left: 12%;
}

.divCentro {
  display: block;
  align-items: center;
margin-top: 30%;
 
  height: 39vh;
  width: 24vh;
  background-color: rgb(202, 242, 202);
  border-radius: 8px;
}

.contenedor {
  float: left;
}


.divgurger {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.divgurger:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.divgurger:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.conteo{
  color: #333;
 
  order: 1;
  background-color: #f4f4f4;
  padding: 2px 6px;
  border-radius: 8px;
  font-size: .875rem;
  /* margin-right: 8px; */
}

.btnMenos {
  border: 0;
  order: 0;
  padding: 2px 6px;
  border-radius: 8px;
}

.btnMas {
  border: 0;
  order: 2;
  padding: 2px 6px;
  border-radius: 8px;
}

.tituloMenu {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 40px;
  margin-left: 40%;
  margin-top: 4%;
  color: rgb(243, 141, 9);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  height: 10vh;
  width: 10vh;
  text-shadow: 2px 2px 4px #000000;
}

.divCount {
 
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.Card-Products:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  content: "";
  border-bottom: 1px solid #e2e2e2;
}

.Card-Products{
  position: relative;
  
    display: flex;
   
    align-items: flex-start;

  
    justify-content: flex-start;
    padding: 16px 0;
    flex-wrap: wrap
}

.div-items{
 
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-namePrice{
 
  display: flex;
  flex-direction: column;

  flex-direction: row;

}

.contener-btons{

  display: flex;
justify-content: space-between;

}
.conteiner-enter{
  display: flex;
  flex-direction: column;
position: relative;
}

.contenedor-btns{
 right: 3px;
}
